@{
    ViewBag.Title = "Home Page";
}

<section>
    <h1>Glimpse.AutoMapper</h1>
    <p>A simple Glimpse plugin to display all configured type mappings for AutoMapper.</p>
    <p>Navigate to <a href="/glimpse.axd">/glimpse.axd</a> and click <b>Turn Glimpse On</b> to enable Glimpse for this test site.</p>
</section>
